@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'merriweather sans', sans-serif;
}
body{
    color: antiquewhite;
    background: url(education.png) no-repeat;
    background-size: cover ;
}
.header{
    text-align: right;
    color: antiquewhite;
    padding: 30px;   
}
.navbar a{
    color: antiquewhite;
    text-decoration: none;
    padding: 20px;
    font-size: 25px;
    padding-right: 40px;
}
.navbar a:hover{
    color: aquamarine;

}
table{
    width: 100%;
    height: 30vh;
}
.education-content h1{
    font-size: 60px;
    color: aquamarine;
    padding-bottom: 30px;
}
td{
    text-align: center;
}
.footerContainer{
    background-color: transparent; 
    position: absolute;
    bottom: 0%;
    width: 100%;
    top: 87%;
    
}
.socialIcons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    position: relative;
    left: 45%;
    text-decoration: none;
    padding: 5px;
    border: 2px solid aquamarine;
    border-radius: 50%;
    margin: 5px 15px 0px 0;
    color: aquamarine;
    
}
.socialIcons a:hover{
    background: aquamarine;
    color: black;
    box-shadow: 0 0 40px aquamarine;

}
.text p{
    font-size: 30px;
    text-align: center;
}
.education-content{
    margin: 20px;
}
